.container {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  font-family: sans-serif;
}

.profile-photo img {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  object-fit: cover;
}

.title {
  margin: 20px;
}

.title h1 {
    font-size: 16px;
    color: white;
    font-weight: 600;
    padding: 2px;
}
.title h2 {
    font-size: 14px;
    line-height: 18px;
    font-style: italic;
    font-weight: 300;
    margin: 0px;
    color: rgba(255, 255, 255, 0.8);
    opacity: 0.8;
    padding: 2px;
}


.current-job {
    color: rgba(255, 255, 255, 0.8);
    max-width: 500px;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    padding: 2px;
}

.social-icons {
  margin-top: 15px;
}

.social-icons a {
  margin: 0 10px;
  color: #373738;
  text-decoration: none;
  font-size: 1.5em;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #0077b5;
}
